@import url('https://fonts.googleapis.com/css?family=Quattrocento');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  background-size: cover; /* version standardisée */
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  -moz-background-size: cover;  /* Mozilla */
  -o-background-size: cover;
  height: 100vh;
}

.container {
  position: relative;
}

nav {
  font-family: Quattrocento, sans-serif;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  width: 100%;
}

#input {
  position: absolute;
  font-size: 1.2em;
  border: none;
  top: 20px;
  left: 315px;
  width: 300px;
  color: #7c7c7c;
  outline: none;
}

#id {
  margin-left: 60px;
  position: absolute;
}

nav h1 {
  margin-left: 1vw;
}

#result {
  position: absolute;
  top: 25%;
  left: 30%;
  font-size: 8em;
  font-family: Quattrocento, sans-serif;
}
